<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Vue学习</title>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			/**
			 * 时间：2020年7月30日08:54:47
			 * 名称：
			 * 内容：
			 * 		对于数组，v-for有两个参数 （item,index)
			 * 		对于对象，v-for有三个参数 （value,name,index)
			 * 		
			 */
		</script>
	</head>
	<body>
		<div id="app">
			<!-- <ul id="example-1">
				<li v-for="item in items" :key="item.message">
					{{ item.message }}
				</li>
			</ul> -->
			
			<div v-for="(value,name,index) in obj">
				{{ value }} : {{ name }} : {{ index }}
			</div>

		</div>

		<script type="text/javascript">
			var app = new Vue({
				el: "#app",
				data: {
					items: [{
							message: 'Foo'
						},
						{
							message: 'Bar'
						}
					],
					obj:{
						name:"tom",
						age:"18",
						weight:120
					}
				}
			})
		</script>
	</body>
</html>
